<ul>
  <li>
    <a href="http://www.hyundai.de/pages/modelle/i10/uefa_euro_2012_edition.html" target="_blank">
      <img src="/assets/ads-hyundai1-btn1-i10.png" alt="Der i10" />
    </a>
  </li>
  <li>
    <a href="http://www.hyundai.de/pages/modelle/i20/uefa_euro_2012_edition.html" target="_blank">
      <img src="/assets/ads-hyundai1-btn2-i20.png" alt="Der i20" />
    </a>
  </li>
  <li>
    <a href="http://www.hyundai.de/pages/modelle/ix20/uefa_euro_2012_edition.html" target="_blank">
      <img src="/assets/ads-hyundai1-btn3-ix20.png" alt="Der ix20" />
    </a>
  </li>
  <li>
    <a href="http://www.hyundai.de/pages/modelle/i30cw/uefa_euro_2012_edition.html" target="_blank">
      <img src="/assets/ads-hyundai1-btn4-i30cw.png" alt="Der i30cw" />
    </a>
  </li>
  <li>
    <a href="http://www.hyundai.de/pages/modelle/ix35/uefa_euro_2012_edition.html" target="_blank">
      <img src="/assets/ads-hyundai1-btn5-ix35.png" alt="Der ix35" />
    </a>
  </li>
</ul>
<a href="http://www.hyundai.de/pages/modelle/uefa_euro_2012_edition.html" target="_blank">
  <img src="/assets/ads-hyundai1.jpg" alt="Hyundai Ad" />
</a>
