<a href="#previous" class="sd-node sd-node-nav-link sd-node-previous" style="display: inline; opacity: 0; ">Previous</a>
<a href="#next" class="sd-node sd-node-nav-link sd-node-next disabled" style="display: inline; opacity: 0; ">Next</a>
<ul class="sd-node sd-node-nav sd-node-nav-primary sd-node-navigation-type- sd-node-total-6">
  <li>
    <a href="#1" class="sd-node-nav-link">
      <span class="sd-node-nav-link-label-date"></span>
      <span class="sd-node-nav-link-label-title"></span>
    </a>
  </li>
  <li>
    <a href="#2" class="sd-node-nav-link">
      <span class="sd-node-nav-link-label-date"></span>
      <span class="sd-node-nav-link-label-title"></span>
    </a>
  </li>
  <li>
    <a href="#3" class="sd-node-nav-link">
      <span class="sd-node-nav-link-label-date"></span>
      <span class="sd-node-nav-link-label-title"></span>
    </a>
  </li>
</ul>
