
<div class="block">
  <h5>June <span>9<span class="small">th</span><span></h5>
    <h6>groupstage</h6>
    <dl>
      <dt class="full"><strong>Final Results</strong></dt>
      <dd>&nbsp;</dd>
      <dt>&nbsp;</dt>
      <dd>&nbsp;</dd>
      <dt class="highlight full"><strong>Netherlands : Denmark 0:1<strong></dt>
      <dd>&nbsp;</dd>
      <dt class="highlight full"><strong>Germany : Portugal 1:0</strong></dt>
      <dd>&nbsp;</dd>
      <dt class="full bigbtn">
        <div>
          <!--<p class="videos"><a href="">Videos des Tages</a></p>//-->
          <p class="photos"><a href="http://www.facebook.com/media/set/?set=a.393958753983000.88495.383040835074792&type=1" target="_blank">Photos of the day</a></p>
        </div>
      </dt>
      <dd></dd>
    </dl>
</div>

<div class="block">
  <h5>June <span>13<span class="small">th</span><span></h5>
    <h6>groupstage</h6>
    <!--
    <dl>
      <dt class="highlight">16:00</dt>
      <dd class="highlight">Opening Show</dd>
      <dt>17:00</dt>
      <dd>Coca-Cola Gewinnspiel</dd>
      <dt>17:30</dt>
      <dd>Hyundai Entertainment</dd>
      <dt>17:45</dt>
      <dd>DJ Eric RTL 104,6</dd>
      <dt>18:00</dt>
      <dd>Niederlande : Deutschland</dd>
      <dt>18:45</dt>
      <dd>Halbzeit Games u. Fun</dd>
      <dt>19:00</dt>
      <dd>Live Essen : Köln</dd>
      <dt>19:45</dt>
      <dd>Party mit Silbermond Live</dd>
      <dt>21:00</dt>
      <dd>Entertainment mit Hyundai</dd>
      <dt>12:00</dt>
      <dd>Party open end hit DJ Eric</dd>
    </dl>
    //-->
    <dl>
      <dt class="full"><strong>Final Results</strong></dt>
      <dd>&nbsp;</dd>
      <dt>&nbsp;</dt>
      <dd>&nbsp;</dd>
      <dt class="highlight full"><strong>Denmark  : Portugal 2:3<strong></dt>
      <dd>&nbsp;</dd>
      <dt class="highlight full"><strong>Netherlands : Germany 1:2</strong></dt>
      <dd>&nbsp;</dd>
      <dt class="full bigbtn">
        <div>
          <!--<p class="videos"><a href="">Videos des Tages</a></p>//-->
          <p class="photos"><a href="https://www.facebook.com/media/set/?set=a.394696623909213.88662.383040835074792&type=1" target="_blank">Photos of the day</a></p>
        </div>
      </dt>
      <dd></dd>
    </dl>
</div>

<div class="block">
  <h5>June <span>17<span class="small">th</span><span></h5>
    <h6>groupstage</h6>
    <!-- <dl>
      <dt>13:00</dt>
      <dd>Einlass</dd>
      <dt>17:34</dt>
      <dd>Grüne Medizin</dd>
      <dt>17:52</dt>
      <dd>Raffaela Wais</dd>
      <dt>18:55</dt>
      <dd>Die Fraktion</dd>
      <dt>19:20</dt>
      <dd>Video - Culcha Candela</dd>
      <dt class="highlight">20:45</dt>
      <dd class="highlight">Portugal - Netherlands</dd>
      <dt class="highlight">20:45</dt>
      <dd class="highlight">Denmark - Germany</dd>
      <dt>24:00</dt>
      <dd>Ende der Veranstaltung</dd>
    </dl>//-->
    <dl>
      <dt class="full"><strong>Final Results</strong></dt>
      <dd>&nbsp;</dd>
      <dt>&nbsp;</dt>
      <dd>&nbsp;</dd>
      <dt class="highlight full"><strong>Portugal : Netherlands 2:1<strong></dt>
      <dd>&nbsp;</dd>
      <dt class="highlight full"><strong>Denmark : Germany 1:2</strong></dt>
      <dd>&nbsp;</dd>
      <dt class="full bigbtn">
        <div>
          <!--<p class="videos"><a href="">Videos des Tages</a></p>//-->
          <p class="photos"><a href="https://www.facebook.com/media/set/?set=a.396497483729127.88991.383040835074792&type=1" target="_blank">Photos of the day</a></p>
        </div>
      </dt>
      <dd></dd>
    </dl>
</div>

<div class="block">
  <h5>June <span>22<span class="small">th</span><span></h5>
    <h6>groupstage</h6>
    <dl>
      <dt class="full">17:30</dt>
      <dd> <strong>pre-program</strong></dd>
      <dt class="full">Die Atzen, Ben Jaime, AZAD, DJ Teddy & Julian Williams, Matze Knop, Chima, Videopremiere Lukas Podolski, Los Colorados</dt>
      <dd>&nbsp;</dd>
      <dt class="highlight"><strong>20:45<strong></dt>
      <dd class="highlight">Germany : Greece</dd>
    </dl>
</div>

<div class="block">
  <h5>June <span>27<span class="small">th</span><span></h5>
    <h6>groupstage</h6>
    <%= image_tag "/assets/comingsoon.png" %>
    <p>&nbsp;</p>
</div>

<div class="block">
  <h5>June <span>28<span class="small">th</span><span></h5>
    <h6>groupstage</h6>
    <%= image_tag "/assets/comingsoon.png" %>
    <p>&nbsp;</p>
</div>

<div class="block">
  <h5>July <span>01<span class="small">th</span><span></h5>
    <h6>groupstage</h6>
    <%= image_tag "/assets/comingsoon.png" %>
</div>

<div class="block ad">
  <%= render "shared/ad_hyundai" %>
</div>
