<h2><span><%= t "pages.faq.title" %></span></h2>

<div class="col many">
  <h5>Tickets</h5>
  <p>The event is free of charge.</p>
  <h5>Opening Hours</h5>
  <p>The Fanfest Berlin will be open from 13:00 to approx. 24:00 on the
  following match days 9.6. / 13.06. / 17.06 / 21.06. or  22.06. / 27.06. /
  28.06. / On the final, 1.7., the Fanfest Berlin will be open from 11:00 to approx. 24:00</p>
  <h5>Arriving at venue</h5>
  <p>There are no parking facilities in and around the event area! We would
  strongly advise all visitors to use public transportation when travelling to
  and from the event.</p>
  <p>Arriving with public transportation:<br/>
  S-Bahn S5, S7 and S75 to 'Bellevue' or ‘Hauptbahnhof’ U-Bahn U2 to
  'Potsdamer Platz' S-Bahn S1, S2 and S25 and U-Bahn U55 to
  'Brandenburger Tor'</p>
  <h5>Open Air Event</h5>
  <p>The Fanfest Berlin is an open-air event.
  There will be various tents and parasols at catering outlets along the event
  mile. It is not possible to reserve these tents or parasols!</p>
  <h5>Seating</h5>
  <p>No official seating is provided except at the catering outlets and
  VIP-Hospitality Area. It is not possible to reserve seating!</p>
  <h5>Photos</h5>
  <p>You are allowed to take pictures for your private use.</p>
  <h5>Food and Drink</h5>
  <p>You are allowed to bring your own drinks into the event area, but the
  drinks containers must be less than 0,5 litre in capacity. Glass bottles and
  cans are not allowed in the event area. You are allowed to bring your own
  food for your own consumption to the event, but you are not allowed to
  bring barbecues into the event area.</p>
  <h5>Security</h5>
  <p>Bags will be checked at all entrances. Security staff reserve the right to
  refuse entry or to remove any person from the event area. </p> 
  <p>The following objects are not permitted on the event premises and shall be
  confiscated or disposed of:
</p>
  <p>
    <ul>
      <li>Bottles, cups, jugs and other objects made of glass or other breakable or
        very hard materials</li>
        <li>Cans</li>
        <li>PET-bottles larger than 0,5 liter</li>
        <li>Hard alcoholic beverages (over 12% alc.)</li>
        <li>Gas and spray cans, corrosive, inflammable or staining substances or
          containers with substances that can affect ones health or that are
            inflammable are prohibited (exception: standard pocket lighters)</li>
        <li>Compressed air cylinder and trumpets</li>
        <li>Spray cans</li>
        <li>Fireworks of any kind, smoke bombs or powder of any kind and other
          pyrotechnical objects</li>
        <li>Sparklers</li>
        <li>Parasols and Umbrellas</li>
        <li>Flag poles or banner poles wider than 1,5 cm and longer than 1 m</li>
        <li>Dogs</li>
        <li>Bulky objects (e.g. stools, easels, cases etc.)</li>
        <li>Horns, trumpets and other extremely loud objects (e.g. vuvuzelas)</li>
        <li>Sharp and pointed items as well as any items that could be used as a
          weapon </li>
        <li>Batons, knifes, guns and weapons of any kind</li>
        <li>Chains and poles longer than 1 m</li>
        <li>Laser pointers</li>
        <li>Racist, radical and political propaganda</li>
        <li>Large amounts of paper and paper roles</li>
        <li>Any kind of commercial, political, religious or advertising objects and
          material</li>
    </ul>
  </p>
</div>



<div class="col many">
  <h5>Catering</h5>
  <p>Camping and the parking of camping buses is forbidden in the entire
  Fanfest Berlin event area and also in the neighbouring public green
  spaces.</p>
  <h5>Tourism & Hotels</h5>
  <p>For hotel reservations, please contact Berlin Tourismus GmbH (BTM) 
  We are not responsible for making hotel reservations, restaurant bookings
  and do not offer any other tourist services. We would recommend the
  Berlin WelcomeCard, which is offered by our partner Berlin Tourismus
  GmbH. </p>
  <p>For further information, please visit: <a href="http://visitberlin.de" target="_blank">www.visitberlin.de</a>. </p>
  <h5>Alcoholic Drinks</h5>
  <p>Alcoholic drinks will be sold at various catering outlets. Please note that
  only PET-bottles with a max. size of 0,5 litre (only one per person) will be
  allowed into the event area. No “strong alcohol” (over 12% alc.) will be
  allowed into the event area.</p>
  <h5>Main Screen at the Brandenburg Gate</h5>
  <p>The main screen will be located at the main stage at the Brandenburg
  Gate. The main screen will be 60 sqm. There will be other screens in the
  event area.</p>
  <h5>Readmission</h5>
  <p>We cannot guarantee that you will be allowed back into the event area if
  you chose to leave and then return for readmission.</p>
  <h5>Camping</h5>
  <p>Camping and the parking of camping buses is forbidden in the entire
  Fanfest Belin event area and also in the neighbouring public green
  spaces.</p>
  <h5>Children</h5>
  <p>Large crowds and high noise levels are expected.  We would not
  recommend not bringing babies or small children to this event.</p>
  <h5>Admission</h5>
  <p>The Fanfest Berlin will be open from 13:00 to approx. 24:00 during the
  previously-mentioned match days, and on July 1st, the day of the final, from 11:00 to approx. 24:00.</p>
  <p>For security reasons, there will be entrance controls at every entrance. All
  sharp and pointed items, and items that can be used as weapons, are
  prohibited from the event area.  Security staff have the right to decline
  entrance to the event area at any time or to remove persons from the
  event area if necessary. There will be no admission to the event area
  outside of the stated opening hours.</p>
  <h5>Rain, Thunder etc.</h5>
  <p>In case of rain or bad weather, the planned TV footage will still be
  screened. For safety reasons the organizer reserves the right to cancel or
  discontinue the planned screenings.</p>
  <h5>Lost Property</h5>
  <p>Please contact the security staff on-site.</p>
  <h5>Missing Children & Persons</h5>
  <p>Please contact the Deutsche Rote Kreuz (DRK - German Red Cross)
  on-site.</p>
  <h5>Shade</h5>
  <p>The main screening area is outside and not covered. There are, however,
  plenty of trees and other shady areas nearby.</p>
</div>

<div class="clearfix">
  
</div>
