<h2><span><%= t "pages.faq.title" %></span></h2>

<div class="col many">
  <h5>Tickets</h5>
  <p>Die Veranstaltung ist für alle Besucher kostenfrei!</p>
  <h5>Öffnungszeiten</h5>
  <p>Die Fanmeile Berlin 2012 ist am 9.6. / 13.06. / 17.06 / 21.06. oder 22.06.
  (abhängig von der deutschen Mannschaft) / 27.06. / 28.06. und zum
  Finale am 1.7. von 16:00 Uhr bis ca. 24:00 Uhr geöffnet.</p>
  <h5>Anfahrt</h5>
  <p>Es sind keine Parkmöglichkeiten um das und auf dem
  Veranstaltungsgelände vorhanden! Wir bitten Sie, aufgrund der
  eingeschränkten Verkehrssituation mit den öffentlichen Verkehrsmitteln
  anzureisen. </p>
  <p>Anfahrt mit öffentlichen Verkehrsmitteln:
  S-Bahn S5, S7 und S75 bis ‘Hauptbahnhof’ 'Bellevue' oder ‚Tiergarten’
  U-Bahn U2 bis 'Potsdamer Platz' S-Bahn S1, S2 und S25 und U-Bahn
  U55 bis 'Brandenburger Tor' </p>
  <h5>Überdachung</h5>
  <p>Die Fanmeile Berlin 2012 ist eine Open-Air Veranstaltung. Auf der
  Veranstaltungsfläche gibt es ausser den Zelten und Sonnenschirmen der
  Gastronomieeinrichtungen keine Überdachung. Eine Reservierung dieser
  ist nicht möglich!</p>
  <h5>Bestuhlung</h5>
  <p>Bestuhlung gibt es keine, außer in den jeweiligen gastronomischen
  Bereichen und im VIP-Bereich. Eine Reservierung dieser ist nicht möglich!</p>
  <h5>Fotografieren</h5>
  <p>Das Fotografieren für den Privatbedarf ist gestattet.</p>
  <h5>Speisen & Getränke</h5>
  <p>Das Mitbringen von Getränken für den persönlichen Bedarf ist erlaubt,
  jedoch nur in Plastikbehältern bis 0,5 Liter. Das Mitbringen von
  Glasflaschen und Dosen ist generell untersagt. Das Mitbringen von
  Speisen für den persönlichen Bedarf ist erlaubt (kein eigener Grill). </p>
  <h5>Sicherheit</h5>
  <p>An den Eingängen werden Taschenkontrollen durchgeführt. Das Security
  Personal behält sich das Recht vor Personen den Zutritt zu verweigern
  bzw. Personen vom Veranstaltungsgelände zu entfernen.</p> 
  <p>Folgende Gegenstände sind auf dem Veranstaltungsgelände nicht
  zulässig und werden durch das Sicherheitspersonal beschlagnahmt und
  entsorgt:
</p>
  <p>
    <ul>
      <li>Glasflaschen
      <li>Getränkedosen</li>
      <li>PET-Flaschen über 0,5 Liter</li>
      <li>sog. "harte" alkoholische Getränke</li>
      <li>Gassprühdosen</li>
      <li>Pressluftflaschen</li>
      <li>Spraydosen</li>
      <li>scharfe und spitze Gegenstände </li>
      <li>Feuerwerkskörper</li>
      <li>Wunderkerzen</li>
      <li>Sonnen- und Regenschirme</li>
      <li>Fahnen, deren Fahnenstange dicker als 1,5 cm und länger als 1 m ist</li>
      <li>Hunde</li>
      <li>sperrige Geräte (z.B. Hocker, Staffeleien, Kisten usw.)</li>
      <li>Tröten, Trompeten und sonstige Gegenstände die extremen Lärm</li>
      <li>erzeugen (z. B. Auch Vuvuzelas)</li>
      <li>spitze, scharfe Gegenstände, Sowie Gegenstände die als Waffen</li>
      <li>benutzt werden können</li>
      <li>Hieb-, Stich- und Schusswaffen</li>
      <li>Ketten Stangen über 1m Länge</li>
    </ul>
  </p>
  <h5>Vermisste Kinder / Personen</h5>
  <p>Bitte wenden Sie sich an eine der DRK Stationen.</p>
</div>



<div class="col many">
  <h5>Catering</h5>
  <p>Auf der Veranstaltungsfläche wird es ein breites Speisen- und
  Getränkeangebot an den Cateringständen geben. Die Cateringstände
  haben wie die Fanmeile täglich von ca. 16:00 bis 24:00 Uhr geöffnet.</p>
  <h5>Tourismus & Hotels</h5>
  <p>Wenn Sie Hotelzimmer benötigen wenden Sie sich bitte an die BTM. Wir
  vermitteln weder Hotelzimmer noch Restaurants oder sonstige
  touristische Angebote. Gern empfehlen wir Ihnen die Berlin WelcomeCard
  der Berlin Tourismus GmbH. Weitere Infos unter: www.visitberlin.de. </p>
  <h5>Alkoholische Getränke</h5>
  <p>Auf der Fanmeile werden alkoholische Getränke verkauft. Eigene
  Getränke dürfen nur in max. 0,5 Liter PET Flaschen (eine pro Person)
  mitgebracht werden. „Harter“ Alkohol darf nicht mitgebracht werden</p>
  <h5>Video-Screens</h5>
  <p>Die Großleinwand an der Hauptbühne Brandenburger Tor ist 60m² groß.
  Auf dem Gelände befinden sich weitere Großleinwände</p>
  <h5>Verlassen des Veranstaltungsgeländes</h5>
  <p>Es gibt keine Garantie, dass Sie nach dem Verlassen der
  Veranstaltungsfläche wieder auf die Fanmeile gelassen werden.  </p>
  <h5>Zelten & Campingbusse</h5>
  <p>Das Zelten und das Abstellen von Campingbussen ist auf dem Areal der
  Fanmeile Berlin und in der angrenzenden Grünanlage verboten. </p>
  <h5>Kinder</h5>
  <p>Wir möchten darauf hinweisen, dass es erfahrungsgemäß sehr voll
  werden kann und die Besucher mitunter sehr eng stehen. Bitte bedenken
  Sie auch den hohen Geräuschpegel. Wir raten Ihnen daher,
  Babys und Kleinkinder nicht mit auf das Gelände zu nehmen.</p>
  <h5>Einlass / Sicherheit</h5>
  <p>Die Fanmeile Berlin 2012 ist zu den oben genannten Spieltagen von
  16:00 Uhr bis ca. 24:00 Uhr geöffnet.</p>
  <p>Es werden an den Eingängen aus Sicherheitsgründen Personenkontrollen
  durchgeführt. Alle spitzen und scharfen Gegenstände, sowie
  Gegenstände, die als Waffen benutzt werden können, dürfen nicht auf die
  Veranstaltungsfläche mitgenommen werden.  Sollte die Security Personen
  als gefährlich einstufen, kann der Zugang zur Veranstaltungsfläche
  verweigert werden bzw. Personen vom Veranstaltungsgelände entfernt
  werden. Außerhalb der Öffnungszeiten ist kein Einlass.</p>
  <p>Die Eingänge zum Veranstaltungsgelände entnehmen Sie bitte dem
  <a href="/fanfest">Lageplan</a>. </p>
  <h5>Programm- und Übertragungsausfall bei Regen, Gewitter etc.</h5>
  <p>Das Programm und die Übertragungen werden trotz Regens
  durchgeführt. Lediglich bei Sicherheitsbedenken können diese abgesagt
  bzw. abgebrochen werden. </p>
  <h5>Fundsachen</h5>
  <p>Bitte wenden Sie sich an die Polizeiwache auf dem Gelände.</p>
  <h5>Schattenplätze / Sitzmöglichkeiten</h5>
  <p>Der Übertragungsbereich ist nicht vor Sonneneinstrahlung geschützt, es
  gibt jedoch genügend Bäume und andere Ausweichmöglichkeiten bzw.
  Sitzgelegenheiten, um sich im Schatten aufzuhalten.</p>
</div>

<div class="clearfix">
  
</div>
