<h2><span><%= t "pages.imprint.title" %></span></h2>

<div class="col many">
  <h5>Rechtliche Angaben</h5>
  <p>K.I.T. Group GmbH<br/>
  Kurfürstendamm 71 <br />
  10709 Berlin <br /><br/>
  Telefon: +49 30 246 03-0 <br />
  Telefax*: +49 30 246 03-2003 <br /><br/>
  E-Mail: info@kit-group.org <br />
  Internet: www.kit-group.org</p>
  <p>Vertretungsberechtigte Geschäftsführer: <br/>Jocelyne Mülli, Willy Edwin Kausch <br /><br/>
  Registergericht: <br/>Amtsgericht Berlin Registernummer: HRB 114 340 B <br />
  Umsatzsteuer-Identifikationsnummer gemäß § 27 a Umsatzsteuergesetz: <br/>DE 262 231 084
  </p>

  <h5>Haftungshinweis</h5>
  <p>
  Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die 
  Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind ausschließlich 
  deren Betreiber verantwortlich.
  </p>

  <h5>Foto- und Filmaufnahmen</h5>
  <p>
  Auf dem Veranstaltungsgelände werden durch die Medien, von Sponsoren und/oder durch 
  den Veranstalter Foto- und Filmaufnahmen erstellt, vervielfältigt und genutzt, 
  z.B. für aktuelle Berichterstattungen bzw. Dokumentationen, die via Print, DVD, 
  TV und/oder Internet (z.B. Homepage, Facebook etc) verbreitet werden. Mit dem 
  Betreten des Veranstaltungsgeländes erklärt sich jeder Besucher der Veranstaltung damit 
  einverstanden, dass diese Aufnahmen auch die Person des Besuchers abbilden und 
  für die vorgenannten Zwecke entschädigungslos genutzt werden dürfen.
  </p>
</div>

<div class="col many">
  <h5>Google Analytics</h5>
  <p>
  Unsere Website benutzt Google Analytics, einen Webanalysedienst der Google Inc. („Google“). 
  Google Analytics verwendet sog. „Cookies“, dies sind Textdateien, die auf Eurem 
  Computer gespeichert werden und die eine Analyse der Benutzung der Website durch 
  Euch ermöglicht. Die durch den Cookie erzeugten Informationen über Eure Benutzung 
  dieser Website (einschließlich Ihrer IP-Adresse) wird an einen Server von Google 
  in den USA übertragen und dort gespeichert. Google wird diese Informationen benutzen, 
  um Eure Nutzung der Website auszuwerten, um Reports über die Websiteaktivitäten 
  für die Websitebetreiber zusammenzustellen und um weitere mit der Websitenutzung 
  und der Internetnutzung verbundene Dienstleistungen zu erbringen. Auch wird Google 
  diese Informationen gegebenenfalls an Dritte übertragen, sofern dies gesetzlich 
  vorgeschrieben oder soweit Dritte diese Daten im Auftrag von Google verarbeiten. 
  Google wird in keinem Fall Eure IP-Adresse mit anderen Daten, die von Google 
  gespeichert werden, in Verbindung bringen. Ihr könnt die Installation der Cookies 
  durch eine entsprechende Einstellung Eurer Browser Software verhindern; wir weisen 
  Euch jedoch darauf hin, dass Ihr in diesem Fall gegebenenfalls nicht sämtliche 
  Funktionen dieser Website voll umfänglich nutzen können.   <br /><br />
  Durch die Nutzung dieser Website erklärt Ihr Euch mit der Bearbeitung der über 
  Euch erhobenen Daten durch Google in der zuvor beschriebenen Art und Weise und 
  zu dem zuvor benannten Zweck einverstanden.   
  </p>

  <h5>Verwendung von Facebook-Plugins</h5>
  <p>
  Auf diesen Internetseiten werden Plugins des sozialen Netzwerks facebook.com verwendet, 
  das von der Facebook Inc., 1601 S. California Ave, Palo Alto, CA 94304, USA betrieben 
  wird („Facebook"). Wenn Sie mit einen solchen Plugin versehene Internetseiten unsere 
  Internetpräsenz aufrufen, wird eine Verbindung zu den Facebook-Servern hergestellt 
  und dabei das Plugin durch Mitteilung an Ihren Browser der Internetseite dargestellt. 
  Hierdurch wird an den Facebook-Server übermittelt, welche unserer Internetseiten Sie 
  besucht haben. Sind Sie dabei als Mitglied bei Facebook eingeloggt, ordnet Facebook 
  diese Information Ihrem persönlichen Facebook-Benutzerkonto zu. Bei der Nutzung der 
  Plugin-Funktionen (z.B. Anklicken des „Gefällt mir" – Buttons, Abgabe eines Kommentars) 
  werden auch diese Informationen Ihrem Facebook-Konto zugeordnet, was Sie nur durch 
  Ausloggen vor Nutzung des Plugins verhindern können.</p><p> Nähere Informationen zur Erhebung 
  und Nutzung der Daten durch Facebook, über Ihre diesbezüglichen Rechte Möglichkeiten 
  zum Schutz Ihrer Privatsphäre finden Sie in den Datenschutzhinweisen von Facebook.
  </p>
</div>

<div class="clearfix">
  
</div>
