footer {
  width: 100%;
  min-width: 1152px;
  height: 748px;
  margin: 0 auto;
  background: transparent url('footer-bg.png') top center repeat-x;
  margin-top: -220px;
  position: relative;
  z-index: 1000;
}
