// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#mainwrapper {
  h2 {
    font-size: 27px;
    text-align: center;
    text-transform: uppercase;
  }
  h3.teaser {
    font-size: 35px;
    text-align: center;
    text-transform: uppercase;
    line-height: 40px;

    span {
      color: #bdeb05;
    }
  }
  .facebook {
    text-align: center;
    img {
      margin-top: -17px;
    }
    iframe {
    }
  }
}
