// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#mainwrapper {
  padding-bottom: 150px;
  h2 {
    font-size: 27px;
    text-align: center;
    text-transform: uppercase;
  }
  h3.teaser {
    font-size: 35px;
    text-align: center;
    text-transform: uppercase;
    line-height: 40px;

    span {
      color: #bdeb05;
    }
  }
  h3.left {
    text-align: left;
  }
  h3.lower {
    text-transform:none; 
  }
  h4 {
    margin: 0px;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    height: 15px;

    span {
      background: url('headline-bg-5px1.png') 0px 0px;
    }
  }
  div.col {
    float: left;
    width: 440px;
    margin-right: 30px;
    margin-bottom: 30px;
    h5 {
      font-size: 26px;
      color: #bdeb05;
      text-transform: uppercase;
      margin-bottom: 20px;
      line-height: 26px;
    }
  }
  div.col.many {
    h5 {
      font-size: 21px;
      margin-bottom: 0px;
    }
  }
  p {
    a {
      color: #0467c9;
      text-decoration:underline; 
    }
  }
  .spacer {
    height: 400px;
  }
  .facebook {
    text-align: center;
    img {
      margin-top: -17px;
    }
    iframe {
    }
  }
  .highlights {
    margin-top: 45px;
    margin-bottom: 72px;
    width:949px;
    height: 508px;

    .slidedeck_frame {
      margin-bottom: 0;
    }
    h4 {
      text-indent: -999em;
      background: url('headline-highlights-de.png') no-repeat;
    }
  }
  .schedule {

  }
  .hyundai {
    width: 478px;
    height: 43px;
    background: url('hyundai-mid-logo.png') no-repeat;
    text-indent: -999em;
    margin: 0 auto;
    margin-bottom: 40px;
  }
}

h2 {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 25px;
  text-transform: uppercase;
  height: 19px;
  padding-top: 2px;
  text-indent: -999em;
}
.de .schedule h2 {
  background: url('headline-programme-de.png') no-repeat;
}
.en .schedule h2 {
  background: url('headline-programme-en.png') no-repeat;
}
.block {
  width: 297px;
  float: left;

  h5 {
    font-size: 55px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-top: 42px;

    span {
      color: #bdeb05;
    }
    .small {
      font-size: 36px;
      text-transform: lowercase;
    }
  }
  h6 {
    color: #0467c9;
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 14px;
    margin-bottom: 8px;
  }
  dl {
    font-size: 14px;
    border-left: 1px white solid;
    height: 190px;

    dt {
      width: 45px;
      position: relative;
      margin-left: 10px;
      margin-bottom: 0;
      line-height: 10px;
    }
    dd {
      margin: 0 0 0 60px;
      line-height: 10px;
      padding: 0px;
      position: relative;
      top: -10px;
    }
  }
  .highlight {
    color: #bdeb05;
  }
  .past {
    border-left: 1px solid white;
    height: 190px;

    p {
      font-weight: bold;
      font-size: 15px;
      margin-left: 10px;

      a {
        color: #fff;
        text-decoration: none;
        background: none;
      }
    }
    p.videos, p.photos {
      padding-left: 10px;
      padding-top: 8px;
      width: 215px;
      height: 35px;
      a { 
        text-decoration: none !important;
        color: #fff !important;
        text-decoration: none !important;
        background: none !important;
      }
    }
    p.videos {
      background: url('arrow-blue.png') no-repeat;
    }
    p.photos {
      background: url('arrow-green.png') no-repeat;
    }
    p.head {
      margin-bottom: 0px;
    }
    p.highlight{
      margin-top: 8px;
    }
    div {
      margin-top: 52px;
    }
  }
}
.form {
  margin: 0 auto;
  text-align: center;

  label {
    width: 200px;
    display: inline-block;
    text-align: right;
  }

  input[type=text] {
    background: transparent url('inputform.png') no-repeat;
    height: 32px;
    width: 290px;
    border: none;
    color: white;
    padding-left: 4px;

  }
  span {
    display: inline-block;
    width: 290px;
    text-align: left;
  }
  .actions {
    margin-top: 20px;
  }
}
h5.press {
  color: #bdeb05;
  font-size: 26px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 38px;
  margin-top: 70px;
}
.contact {
  text-align:center;
}
.block.ad {
  padding-top: 27px;
  position:relative;
  z-index: 2000;
  ul {
    position: absolute;
    list-style: none;
    display: inline;
    width: 580px;
    top: 248px;

    li {
      display: inline;
      margin-right: 15px;
      width: 95px;
      height: 17px;

      a {
        background: none;
        text-decoration: none;
      }

    }
  }
}



.divider.dot5 {
  background: url('line-5dot-fullwidth.png') no-repeat;
  height: 13px;
}
