// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#mainwrapper {
  padding-bottom: 150px;
  h2 {
    font-size: 27px;
    text-align: center;
    text-transform: uppercase;
  }
  h3.teaser {
    font-size: 35px;
    text-align: center;
    text-transform: uppercase;
    line-height: 40px;

    span {
      color: #bdeb05;
    }
  }
  .facebook {
    text-align: center;
    img {
      margin-top: -17px;
    }
    iframe {
    }
  }
  .highlights {
    margin-top: 45px;
    width:949px;
    height: 508px;
  }
}

.divider.dot5 {
  background: url('line-5dot-fullwidth.png') no-repeat;
  height: 13px;
}
